.play-button {
  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/></svg>');
  }
}


.audio-player {
  &__btn {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    transition: 0.3s;

    svg {
      width: 30px;
      height: 30px;
      fill: #333333;
      transition: 0.3s;
    }

    &--play {
      min-width: 60px;
      min-height: 60px;
      svg {
        width: 46px;
        height: 46px;
      }
    }

    &:hover {
      background-color: rgba(255,255,255,0.65);

      svg {
        fill: #444444;
      }
    }
  }
}
